<br><br>
<div class="columns">
  <div class="column is-8 is-offset-2">
    <div class="card">
      <div class="card-content">
          <p class="title has-text-centered	is-4">User Details</p>
          <div class="column is-10 is-offset-1">
            <%= render 'form' %>
            <br>
          </div>
      </div>
    </div>
  </div>
</div>
